<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ExpenseTracker" providerName="System.Data.SqlClient" connectionString="Server=.\;Database=ExpenseTracker;Integrated Security=True;" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="ExpenseTracker.Services.ExpenseTrackerService" behaviorConfiguration="basicBehaviorConfiguration">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/ExpenseTrackerService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="ExpenseTracker.Services.ExpenseTrackerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <!--<webHttpBinding>
                <binding name="webHttpBindingWoSecurity" maxReceivedMessageSize="10485760"/>
            </webHttpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehaviorConfiguration">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>